.box-container{
    display: flex;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    height: 200px;
    border-radius: 4px;
    background-size: cover;
    background-position: center;
    color: #3A3850;
    border:10px #01a9b4;
    margin:20px;
    background-color: #fff;


}
.container {
  text-align: center;
  margin:20px;

}
.box {
    width:220px;
    height:180px;
    text-align: center;
    margin:40px 20px 20px 20px;
    box-shadow: 2px 2px 3px #76859B;
    padding:40px 20px 20px 20px;
    background: white;
    border: 10px #76859B;
    border-radius: 2px
}
